.containerCategory {
  background-size: cover;
  background-repeat: no-repeat;

  height: 51vh;

  margin-bottom: 30px;
  padding: 24px 32px;

  color: #ffffff;
}

.containerCategory h1 {
  font-size: clamp(32px, 32px + 1vw, 56px);
}

.containerCategory p {
  font-size: clamp(16px, 16px + 0.7vw, 20px);
  font-weight: 600;
}
