.containerCategory {
  background-size: cover;
  background-repeat: no-repeat;

  height: 50vh;

  margin-bottom: 30px;
  padding: 24px 32px;

  color: #ffffff;
}

.containerCategory h1 {
  font-size: 56px;
}

.containerCategory p {
  font-size: 20px;
  font-weight: 600;
}
