.graphic {
  height: 70vh;

  margin-right: 1.5%;

  color: #ffffff;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.topBar {
  background: var(--dark-blue);

  padding: 16px;

  display: flex;
  justify-content: center;
  flex-direction: column;
}

.topBar h1 {
  font-size: 32px;
}
.topBar h2 {
  font-size: 20px;
  line-height: 28px;
}

.bar {
  background-color: var(--blue);

  padding: 14px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: 14px;
  line-height: 18px;
}
