/* Home */

.backgroundImage {
  background-image: url(Mountain.svg);
  background-size: cover;
  background-repeat: no-repeat;

  height: 101vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  color: #ffffff;
}

.backgroundImage p {
  letter-spacing: 4px;
  font-size: 16px;
  font-weight: 600;
}

.backgroundImage h1 {
  text-align: center;
  font-size: clamp(32px, 32px + 1vw, 60px);
  line-height: 68px;
  font-weight: 600;
}

.backgroundImage button {
  background: #ffffff;
  padding: 16px 100px;

  font-size: 18px;
  font-weight: bold;
  color: var(--gray);

  transition: ease-in 0.25s;
}
.backgroundImage button:hover {
  cursor: pointer;
  background: var(--blue);
  color: #ffffff;
}

/* Title Box */

.titleBox {
  color: var(--gray);

  margin-top: 24px;

  display: flex;
  flex-flow: column;
  font-weight: 600;
}

.titleBox h1 {
  font-size: clamp(32px, 32px + 1vw, 56px);
  font-weight: 600;
}

.titleBox p {
  font-size: clamp(16px, 16px + 0.7vw, 20px);
}

/* Categories */

.categories {
  margin: 50px 80px;
}

.containerCategories {
  margin-top: 60px;
  display: flex;
  flex-flow: wrap row;
  justify-content: space-between;
}

/* Graphics */

.plansContainer {
  background-color: var(--light-gray);
  padding: 80px;

  position: relative;
}

.plansContainer .titleBox {
  position: absolute;
}

.graphicsContainer {
  display: flex;

  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  padding-top: 20px;
}

@media screen and (max-width: 900px) {
  .backgroundImage h1 {
    line-height: 44px !important;
  }

  .backgroundImage button:focus {
    background: var(--blue);
    color: #ffffff;
  }

  .categories {
    margin: 10px 20px;
  }

  .containerCategories {
    margin-top: 20px;
  }

  .containerCategories .containerCategory {
    background-position: center;
    flex-basis: 100% !important;

    height: 31vh;

    text-align: center !important;

    margin-bottom: 20px;
  }

  .plansContainer {
    padding: 20px;
  }

  .plansContainer .titleBox {
    position: unset;
  }

  .titleBox {
    text-align: center;
  }

  .graphicsContainer {
    flex-direction: column;
    align-items: initial;
  }

  .graphicsContainer .graphic {
    height: 13vh;
    flex-direction: row-reverse;
    margin-right: 0;
    margin-bottom: 3%;
  }

  .graphicsContainer .topBar {
    max-width: 10%;
    min-width: 70px;

    padding: 0px 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .graphicsContainer .topBar h1 {
    font-size: 20px;
  }
  .graphicsContainer .topBar h2 {
    font-size: 16px;
    line-height: 18px;
  }

  .graphicsContainer .bar {
    height: 100% !important ;
    padding: 0;
    padding: 5px 8px;
    align-items: center;
    justify-content: left;
  }

  .graphicsContainer .g1 .bar {
    width: 35%;
  }
  .graphicsContainer .g2 .bar {
    width: 45%;
  }
  .graphicsContainer .g3 .bar {
    width: 55%;
  }
  .graphicsContainer .g4 .bar {
    width: 65%;
  }
  .graphicsContainer .g5 .bar {
    width: 75%;
  }
  .graphicsContainer .g6 .bar {
    width: 90%;
  }
}
